.page-content {
  text-align: center;
  font-family: 'vollkornregular';
}

.page-content img, .page-content .about-text img {
    height: 300px;
  margin-top: 10px;
/*  margin-right: 20%;
  margin-left: 20%;*/
}

.page-content a {
  font-family: 'webfontbold';
  text-decoration: underline;
  color: rgb(146, 96, 199);
}

#links {
  margin-top: 10px;
  margin-bottom: 15px;
}

#links a {
  padding: 10px;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
}

.about-text {
  text-align: left;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 20px;
}

.about-text p {
  font-size: 1.4em;
}

@media (max-width: 500px) {
  .about-text {
    margin-right: 10%;
    margin-left: 10%;
  }

  .page-content img {
    height: 150px;
  }
}

ul {
  list-style-type: none;
  display: inline-block;
  margin: 0px;
  padding: 0px 15px 0px 15px;
/*  text-align: center;*/
}

.page-content #status li {
  font-size: 1.15em;
  color: #555;
}

.page-content #status .first-item {
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: 'webfontbold';
  color: #555;
  font-weight: 700;
}

.page-content #status a {
  font-size: 1.1em;
  text-decoration: underline;
  font-weight: 700;
}

.about-text a {
  font-size: 1.1em;
}

.about-text .title {
  text-transform: uppercase;
  font-family: 'webfontbold';
  font-size: 1.25em;
  color: #555;
  font-weight: 600;
  text-align: center;
}