.page-content {
  text-align: center;
  font-family: 'Open Sans';
}

.page-content img {
  height: 300px;
  margin-top: 20px;
}

.page-content a {
  font-family: 'Inconsolata';
  text-decoration: underline;
  color: rgb(146, 96, 199);
}

#links {
  margin-top: 15px;
}

#links a {
  padding: 10px;
  font-weight: 700;
  font-size: 1.5em;
}

#about-text {
  text-align: left;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 20px;
}

@media (max-width: 500px) {
  #about-text {
    margin-right: 10%;
    margin-left: 10%;
  }

  .page-content img {
    height: 150px;
  }
}

ul {
  list-style-type: none;
/*  text-align: center;*/
}
.page-content #about-text #status li {
  font-size: 1.2em;
  color: #555;
}

.page-content #about-text #status .first-item {
  font-size: 1.2em;
  color: #555;
  font-weight: 700;
}

.page-content #about-text #status a {
  font-size: 1.1em;
  text-decoration: none;
}

#about-text a {
  font-size: 1.1em;
}

#about-text .title {
  font-size: 1.25em;
}