body {
  background-color: white;
}

#content {
  padding-left: 5%;
}

p {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #555;
  font-size: 28px;
  line-height: 2;
}

p a {
  font-family: 'Inconsolata';
  color: #9260c7;
  font-weight: bold;
  text-decoration: none;
  font-size: 32px;
}

p a:hover {
  text-decoration: underline;
}