
.page-content {
  text-align: center;
  font-family: 'vollkornregular';
}

.page-content {
  text-align: left;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 20px;
}

.page-content .about-text {
    text-align: center;
}

/* Masthead picture */
.page-content .about-text img {
  height: 300px;
  margin-top: 10px;
/*  margin-right: 20%;
  margin-left: 20%;*/
  margin-bottom: 20px;
}

.page-content a {
  font-family: 'webfontbold';
  text-decoration: underline;
  color: rgb(146, 96, 199);
  font-size: 1em;
}


@media (max-width: 500px) {
  .about-text {
    margin-right: 10%;
    margin-left: 10%;
  }

  .page-content .about-text img {
    height: 150px;
  }

  .page-content {
    margin-right: 10%;
    margin-right: 10%;
  }
}

.page-content .title {
  font-size: 1.25em;
  color: #555;
  font-weight: 600;
}

/* END about.css */

.about-text h1, .about-text h2, .about-text h3 {
  font-family: 'webfontbold';
  color: rgb(146, 96, 199);
  margin: 0px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
}

.about-text h1 {
  font-size: 3em;
  margin-bottom: 0px;
}

.about-text h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.about-text h3 {
  color: rgba(85, 85, 85, 0.8);
  font-size: 1.7em;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.page-content .title {
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.2em;
  font-family: 'webfontbold';
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.page-content p {
  font-size: 1.4em;
  line-height: 1.5em;
}

.page-content .double-pic-spacer {
  margin: 20px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 0.9em;
}


#dialogue {
  width: 200px;
  height: auto;
}

#heaven {
  height: 500px;
  width: auto;
}

#wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.picture {
  text-align: center;
}

.img-responsive {
  max-width: 100%;
  height: auto;
    /*display: block;*/
}

ol {
  font-family: 'webfontbold';
  color: rgb(146, 96, 199);
  font-size: 1.5em !important;
}

.description {
  text-align: center;
  font-size: 1.1em !important;
  margin: 2%;
}