/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
  font-family: $heading-font-family;
  color: $text-color;
  text-transform: lowercase;
  text-decoration: none;
  //background: linear-gradient(180deg, $grey-color 60%, $brand-color-light 60%);

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.825);
  font-weight: 900;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: 0px;
  margin-bottom: 0;
  float: left;
  text-decoration: none;
  text-transform: uppercase;


  &:hover {
    text-decoration: none;
  }

  &,
  &:visited {
    color: $text-color;
  }

  @include media-query($on-palm) {
    line-height: $base-line-height * $base-font-size * 1.75;
    @include relative-font-size(1.5);
    
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $link-color;
    line-height: $base-line-height;
    text-transform: lowercase;
    text-decoration: none;
    font-weight: bold;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
    
  }

  .page-link:hover {
    text-decoration: underline;
  }

  @include media-query($on-palm) {
    line-height: 63px;

  }

  // @include media-query($on-palm) {
  //   position: absolute;
  //   top: 9px;
  //   right: $spacing-unit / 2;
  //   background-color: $background-color;
  //   border: 1px solid $text-color;
  //   border-radius: 5px;
  //   text-align: right;

  //   label[for="nav-trigger"] {
  //     display: block;
  //     float: right;
  //     width: 36px;
  //     height: 36px;
  //     z-index: 2;
  //     cursor: pointer;
  //   }

  //   .menu-icon {
  //     display: block;
  //     float: right;
  //     width: 36px;
  //     height: 26px;
  //     line-height: 0;
  //     padding-top: 10px;
  //     text-align: center;

  //     > svg {
  //       fill: $grey-color-dark;
  //     }
  //   }

  //   input ~ .trigger {
  //     clear: both;
  //     display: none;
  //   }

  //   input:checked ~ .trigger {
  //     display: block;
  //     padding-bottom: 5px;
  //   }

  //   .page-link {
  //     display: block;
  //     padding: 5px 10px;

  //     &:not(:last-child) {
  //       margin-right: 0;
  //     }
  //     margin-left: 20px;
  //   }
  // }
}



/**
 * Site footer
 */
.site-footer {
  //border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $text-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  font-family: $heading-font-family;
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  font-family: $heading-font-family;
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  font-family: $heading-font-family;
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  font-family: $heading-font-family;
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 p {
  @include relative-font-size(0.9);
  //font-size: $base-font-size;
  font-family: $heading-font-family;
  color: $text-color;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }

  > li h3 {
    margin-bottom: 5px;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  font-family: $heading-font-family;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
  text-decoration: none;
}

.post-link:hover {
  color: $text-color;
  text-decoration: underline;
}

/**
 * Link page content
 */

 .link-content {
  padding: $spacing-unit 0;
  flex: 1;

  @include media-query($on-palm) {
    padding: 10px 0;
  }

  hr {
    margin: $spacing-unit 0;
    color: $text-color;
  }

  h1, h2, h3 {
    //background: linear-gradient(180deg, rgba(255,255,255,0) 65%, $grey-color 35%);
    //background-color: $text-color;
    font-weight: 700;
    line-height: 1.1;
    border-bottom: 3px solid $text-color;
    //border-radius: 8px;
    //padding: 2px 8px 5px;
    color: $text-color;
    text-transform: uppercase;
    //-webkit-text-stroke: 2px $brand-color-light;
  }

  h4 {
    text-align: justify;
    font-size: 32px;
    text-transform: uppercase;
    color: $text-color;
    font-weight: bold;
    line-height: 1.2;

    @include media-query($on-palm) {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  p {
    line-height: 1.25;
    font-size: 20px;

    a {
      font-size: 22px;
      font-family: $heading-font-family;
      text-decoration: underline;
      color: $link-color;
      font-weight: bold;
      //background: linear-gradient(180deg, rgba(255,255,255,0) 80%, $grey-color 20%);

      @include media-query($on-palm) {
        font-size: 20px;
      }
      &.footnote {
        font-size: 14px;
        font-weight: 600;
      }
    }

  }
  
.footnotes {
  ol, 
  ul {
    margin-left: $spacing-unit / 2;
  }

  ::marker {
    line-height: 1.1;
    font-size: 16px;
  }

  p {
    line-height: 1.1;
    font-size: 16px;

    a {
      font-size: 16px;
    }
  }
}

  @include media-query($on-palm) {
    p {
      line-height: 1.25;
      font-size: 18px;
  
      a {
        font-size: 20px;

        &.footnote {
          font-size: 14px;
        }
      }
    }
  }
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  text-transform: capitalize;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
