html, #page {
	background-color: white;
}

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 2.0;
}

.post-wrapper a {
    text-decoration: none;
    color: #9260c7;
}

#custom-head a:hover {
	color: #9260c7;
}

.post-wrapper {
    background: #fff;
    overflow: hidden;
    padding: 0;
    position: relative;
    border: none;
}

.text .post-content {
	padding: 0px 0px 10px 0px;
}

.panel, .post-footer {
    height: 30px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
    position: relative;
    z-index: 2;
    max-width: 702px;
    min-width: 270px;
}

p {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

.post-extra.has-reblog, .post-extra.has-source, .post-extra.has-tags {
    margin: 0 0px 5px;
}

a:-webkit-any-link {
  text-decoration:none !important;
}

#home-click a {
  text-decoration: none;
  color: white;
}